.structures-browser {

    @grid-back: rgba(255, 255, 240, 0.5);
    @button-inactive-colour: rgb(180 170 160 / 25%);
    @preview-back: #e5dcc780;
    @preview-hovered-back: #f3bfac;
    @preview-selected-back: #ffe6ba;
    @border-colour: #c5aa8b;
    @border-colour-half: #c5aa8b80;
    @hover-colour: #ff000080;

    @preview-size: 128px;
    @grid-min-width: 600px;
    @aside-min-width: 256px;
    min-width: 890px;

    section.window-content {
        background-image: url(assets/page-back.webp);
        background-size: cover;
        overflow: hidden;
        padding: 0.5rem;
        display: flex;
        overflow: hidden;
        flex-direction: row;
        .body {
            flex: 1 1 700px;              
            header.tabs {
                display: flex;
                gap: 0.5rem;
                button {
                    background: @button-inactive-colour;
                    border-color: @border-colour;
                    border-radius: 20px 20px 0 0;
                    border-width: 1px 1px 0 1px;
                    line-height: 2rem;
                    padding: 0;
                    &:hover {
                        box-shadow: 0 -1.5px 1.5px @hover-colour;
                    }
                    i {
                        vertical-align: middle;
                        &.size-1 {
                            font-size: 70%;
                        }
                        &.size-2 {
                            font-size: 80%;
                        }
                        &.size-4 {
                            font-size: 110%;
                        }
                    }
                }
                //Colours the tab corresponding to the currently selected filter
                &[data-filter="all"] button[data-lots="all"], &[data-filter="1"] button[data-lots="1"], &[data-filter="2"] button[data-lots="2"], &[data-filter="4"] button[data-lots="4"] { 
                    background: @grid-back; 
                }
            }
            .grid {
                background: @grid-back; 
                border: 1px solid @border-colour;
                border-width: 0 1px;
                display: flex;
                max-height: calc(100% - 32px); //32px is the size of the header
                height: 100%;
                min-width: @grid-min-width;
                margin: 0 1px;
                padding: 1.25rem 1rem 0.5rem 1rem;
                gap: 1rem;
                overflow-y: scroll;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-content: flex-start;
                .preview {
                    background: @preview-back;
                    border-radius: 4px;
                    box-shadow: 0 0 6px @border-colour;
                    width: fit-content;
                    position: relative;    
                    h4 {
                        font-family: 'Good OT Cond Bold';
                        font-size: 1rem;
                        text-align: center;
                        font-weight: bold;
                        margin: 0.5rem 0 0.25rem 0;
                    }
                    p.details span {
                        font-family: 'Good OT cond';
                    }
                    figure {
                        width: fit-content;
                    }
                    figure, img {
                        width: @preview-size;
                        margin: 0;
                        border-radius: 20px;
                    }
                    img {
                        //background: @preview-back;
                        //box-shadow: 0 0 6px @border-colour;
                        border: none;
                        height: @preview-size;
                        padding: 0.25rem;
                        object-fit: contain;
                    }
                    &:hover {
                        background: @preview-hovered-back;
                        filter: drop-shadow(0 0 4px red); 
                    }
                    &.selected { 
                        background: @preview-selected-back;
                        filter: drop-shadow(0 0 4px orange); 
                    }
                    .details {
                        padding: 0 0.5rem;
                        margin: 0.25rem 0;
                    }
                }            
            }    
        }
        .sidebar {
            margin: 0 0.25rem 0 0.75rem;
            min-width: @aside-min-width;
            flex: 0 0 @aside-min-width;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            fieldset, div.selection, button.create-structure {
                border: 2px groove @border-colour-half;
                border-radius: 6px;
                width: 100%;                
                legend {
                    font-size: 16px;
                }
                label { 
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    button {
                        margin-top: 2px;
                        padding: 0;
                        line-height: 28px;
                        max-height: 28px;
                        font-size: 0.8rem;
                        width: 50%;
                    }    
                }
            }
            div.selection {
                padding: 0.5rem;
                overflow: hidden;
                h2 {
                    font-size: 1.2rem;
                    margin: 0.25rem 0;
                    line-height: 1.2rem;
                    font-family: 'Good OT Cond Bold';
                    span.title {
                        text-transform: uppercase;
                    }
                }
                ul.traits {
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    gap: 0.2rem;
                    margin:unset;
                    li {
                        border-left: 3px solid #d8c483;
                        border-right: 3px solid #d8c483;
                        background: #548433;
                        color: white;
                        padding: 2px 4px 2px 4px;
                        text-transform: uppercase;
                        font-family: 'Good OT Cond Bold';
                        max-height: 17px;
                    }
                }    
                div.showcase-image {
                    text-align: center;
                    img { 
                        object-fit: contain;
                        padding: 0.5rem 0 0.25rem 0;
                        border: none; 
                        &[data-size="1"] {
                            width: 50%
                        }
                    }
                    .variants {
                        align-items: center;
                        height: 24px;    
                    }    
                }
                p {
                    margin: 0.25rem 0;
                }
            }
            button.create-structure {
                margin-top: auto; 
            }
        }
    }

    button {
        background: @grid-back;
        border-color: @border-colour;
    }

    .split {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        button, p {
            max-width: 50%;
        }
        .right {
            text-align: right;
        }
    }
}